/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.hidden {
  display: none
}

.progress {
  animation: rotation 2s infinite linear;
  font-size: 80px;
}

.top-panel {
  text-align: center;
  margin: 20px;
}

.top-panel button {
  background-color: #8d2ab5;
  font-size: 18px;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  min-width: 150px;
}

.top-panel button.loading {
  background-color: #74119c;
}

.play-area {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

#board table {
  border: white 2px solid;
  margin: 0 auto;
}

#board td {
  background-color: #060ce9;
  padding: 10px;
}

#board tbody td {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

body {
  background-color: #115ff4;
}